/* siznax.github.io/astroclass */

a.button {
    cursor:pointer;
}

div#apod {
    margin:auto;
    max-width:720px;
    font-size:x-small;
    text-align:justify;
}
div#apod img {
    width:720px;
}
div#header {
    margin:auto;
    max-width:720px;
}
div#header img {
    width:100%;
}
div#body {
    padding:1em;
}
div#body img {
    max-width:688px;
}
div#body iframe {
    margin-left:-16px;
    width:720px;
    height:480px;
}
div#content {
    margin:auto;
    margin-top:8px;
    max-width:720px;
    border:1px solid silver;
    background-color:white;
    border-radius:12px;
}
div#footer {
    margin-bottom:240px;
}
div#moon {
    margin-top:-64px;
    float:right;
    width:100px;
    text-align:center;
    font-size:x-small;
}
div#moon img {
    width:100px;
    height:100px;
    border-radius:50%;
}
div#outline, div#sky, div#symbols, div#resources {
    display:none;
}
div#toplinks {
    margin-top:8px;
}
div#toplinks a {
    padding:0.4em 0.8em;
    text-decoration:none;
    background:black;
    color:khaki;
    border-radius:0.4em;
}

html, body {
    margin:0;
    padding:0;
    background-color:whitesmoke;
    font-family:Verdana, Geneva, Helvetica, Arial, sans-serif;
}

img#clearsky, img#spectrum, img#elements, img#constellations {
    -webkit-filter:grayscale(100%);
    filter:grayscale(100%);
    border-radius:8px;
}
img#clearsky:hover, img#spectrum:hover, img#elements:hover, img#constellations:hover {
    filter:none;
    -webkit-filter:none;
}
