/* siznax.github.io/astroclass */

a.button {
    cursor:pointer;
}

div#apod {
    margin:auto;
    max-width:720px;
    margin-top:48px;
    margin-bottom:48px;
    font-size:x-small;
    text-align:justify;
}
div#apod img {
    width:720px;
}
iframe {
    margin-left:-4px;
    width:696px;
    height:456px;
    border:0px;
}
div#header {
    margin:auto;
    max-width:720px;
}
div#header img {
    width:100%;
}
div#body {
    padding:1em;
}
div#body img {
    max-width:688px;
}
div#content {
    margin:auto;
    /* margin-top:8px; */
    max-width:720px;
    /* border:1px solid silver; */
    background-color:white;
    /* border-radius:12px; */
    border-bottom-right-radius:12px;
    border-bottom-left-radius:12px;
}
div#footer {
    /* margin-bottom:240px; */
}
div#footer img {
    padding:32px;
}
div#outline, div#sky, div#symbols, div#resources {
    display:none;
}
div#sky h3 {
    margin-top:3em;
}
div#toplinks {
    margin-top:8px;
}
div#toplinks a {
    padding:0.4em 0.8em;
    text-decoration:none;
    background:black;
    color:khaki;
    /* border-radius:0.4em; */
}

html, body {
    margin:0;
    padding:0;
    font-family:Verdana, Geneva, Helvetica, Arial, sans-serif;
}
body {
    background:black; /* For browsers that do not support gradients */
    background:-webkit-linear-gradient(black, rgb(0,0,64)); /* Safari */
    background:-o-linear-gradient(     black, rgb(0,0,64)); /* Opera */
    background:-moz-linear-gradient(   black, rgb(0,0,64)); /* Firefox */
    background:linear-gradient(        black, rgb(0,0,64)); /* Standard syntax */
}
html, body {
    background-color:rgb(6,12,24);
    background-image:url("tile.jpg");
    background-repeat:repeat;
}

img#moon {
    width:100px;
    height:100px;
    border-radius:50%;
}

p.quote {
    margin:32px;
    opacity:0.8;
    text-align:center;
    font-size:smaller;
}

span#header {
    margin-left:8px;
}